.row {
  min-height: 200px;
}



.display-4 {
  color:white;
padding-top: 3rem;
}

.lead {
  color:white;
}

.jumbotron {
  text-align: center;
-webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
min-height:400px;
background: #43C6AC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #000046, #1cb5e0);
background: linear-gradient(to bottom, #000046, #1cb5e0);

}

h2 {
  z-index: 9999;
}

.darkblue {
  background-color: #000046;
}



.navbar-inverse .navbar-toggler {
    border-color: rgba(255,255,255,.0); }

.navbar-inverse .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

}

body {
  background-color:#000046;
color:white;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
font-size: 4rem;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.floatright {
  display: inline;
}
